<form class="form-group d-flex flex-column mt-3 justify-content-center align-items-center" [formGroup]="contactForm"
  (ngSubmit)="onSubmit()">



  <label class="p-1 " for="firstname">First Name </label>

  <input type="text" id="firstname" name="firstname" formControlName="firstname"
    [ngClass]="{'border border-danger' : !contactForm.valid}" class="border border-success">





  <label class="p-1" for="lastname">Last Name </label>

  <input class="border border-success" type="text" id="lastname" name="lastname" formControlName="lastname"
    [ngClass]="{'border border-danger' : !contactForm.valid}" class="border border-success">




  <label class="p-1 " for="email">Email </label>

  <input type="text" id="email" name="email" formControlName="email"
    [ngClass]="{'border border-danger' : !contactForm.valid}" class="border border-success">





  <label class="p-1" for="gender">Geneder </label>
  <div class="vlf">

    <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male

    <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
  </div>







  <label class="p-1" for="country">country </label>

  <select id="country" name="country" formControlName="country">
    <option [ngValue]="null" disabled>Select Country</option>
    <option [ngValue]="c" *ngFor="let c of countryList">

      {{c}}

    </option>

  </select>



  <div class="d-flex">
    <!-- <button class="btn btn-dark" type="submit" (click)="resetValue()">Reset</button> -->
  </div>
  <button class="btn btn-dark" type="submit" [disabled]="!contactForm.valid">Submit</button>





</form>


<div class="d-flex flex-column mt-3 justify-content-center align-items-center">
  <h1 *ngFor=" let rr of result">
    <h1>Name: {{rr.firstname}}</h1>
    <h1>Last Name: {{rr.lastname}}</h1>
    <h1>Email: {{rr.email}}</h1>
    <h1>Geneder: {{rr.gender}}</h1>
    <h1>country: {{rr.country}}</h1>
  </h1>
</div>


<!-- Devi creare un FormGroup che è un oggetto nel quale inseriri le varie proprietà. Le proprietà sono tutte quegli input che vuoi ricevere dagli utenti. Una volta deciso quali input sono devi collegare il controller.ts con la view.html inserendo la direttiva formControlName="<input da collegare>".
Per il resto è tutto abbastanza ovvio, ricevi come risultato un oggetto con all'interno tutti i valori. 

All'inizio del form nel tag html <form> devi inserire il nome della classe che hai instaziato nel controller.ts, in questo caso: [formGroup]="contactForm";
  Poi devi aggiungere sempre in questo tag la funzione onSubmit() la quale una volta fatto il submit invia tutti i file al controller: (ngSubmit)="onSubmit()".
-->
