<mat-toolbar color="black">
  <mat-icon>local_fire_department</mat-icon>
  <span>kanban</span>
</mat-toolbar>

<div class="content-wrapper" style="max-width: 85vw">
  <div style="margin-bottom: 20px">
    <button (click)="newTask()" mat-button>
      <mat-icon>add</mat-icon> Add Task
    </button>
  </div>
  <div class="container-wrapper">
    <div class="container">
      <div class="flexing">
        <mat-icon>list_alt</mat-icon>
        <span>Backlog</span>
      </div>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">
          Empty list
        </p>
        <app-task
          (edit)="editTask('todo', $event)"
          *ngFor="let task of todo | async"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <div class="flexing">
        <mat-icon>keyboard_hide</mat-icon>
        <span>Progress</span>
      </div>
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">
          Empty list
        </p>
        <app-task
          (edit)="editTask('inProgress', $event)"
          *ngFor="let task of inProgress | async"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <div class="flexing">
        <mat-icon>done</mat-icon>
        <span>Done</span>
      </div>
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(done | async)?.length === 0">
          Empty list
        </p>
        <app-task
          (edit)="editTask('done', $event)"
          *ngFor="let task of done | async"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card>
    </div>
  </div>
  <p>
    In Japanese, “kanban” means “visual sign” or “visual card,” and the concept
    was originated by Toyota in the 1940s. The purpose of the design was to help
    improve manufacturing efficiency and create a transparent work process.
    Kanban boards have evolved since then, and are now useful tools for teams of
    all sizes in a variety of industries. Many current models utilize completely
    digital board platforms designed for quick collaboration, while others
    prefer a whiteboard with shared, handwritten notes. No matter what method is
    used to create a Kanban board, they all contain the same key components.
    Each is designed to provide a visual workflow that keeps the project
    timeline on track and follows the same core methodology.
  </p>
</div>
