<app-child [items]="items" (itemsToOut)="addItem($event)" #newItem>



</app-child>
<div class="d-flex justify-content-center ">

  <ul class="list-group w-50">
    <li class="list-group-item list-group-item-action list-group-item-dark"
      *ngFor="let item of items; let index = index">
      <div class="d-flex justify-content-between">
        <div>
          <button class="btn btn-dark d-flex justify-content-center" (click)="reset(index)">Delete</button>
        </div>

        <span>
          {{item}}
        </span>
        <span>

        </span>
      </div>





    </li>
  </ul>
</div>
