<nav>

  <div>
    <img class="arrowright" src="assets/arrow.png" alt="" (click)="scrollLeft()"
      [class.arrowrightDisplay]="arrowrightDisplay">
  </div>

  <ol #element>
    <li>
      <button id="one" type="submit" (click)="returnVal(0)">Notizie EA</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(1)">EA Play</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(10)">Madden NFL</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(2)">Apex Legends</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(3)">FIFA</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(4)">Battlefield</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(10)">The Sims 4</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(5)">F1</button>
    </li>
    <li>
      <button type="submit" (click)="returnVal(6)">Inside EA</button>
    </li>
  </ol>
  <div>
    <img class="arrowleft" src="assets/arrow.png" alt="" (click)="scrollRight()">
  </div>

</nav>


<!-- Ho creato il metodo 'returnVal' che invia il numero dell'indice -->
