* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


div {
  height: 100vh;
}

button {
  margin-top: 10px;
  width: 150px;
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
}

button:nth-of-type(1) {
  margin-top: 40px;
}

h1,
span {
  text-transform: uppercase;
  letter-spacing: .1em;

}

h1 {
  font-size: 16px;
  margin-bottom: 80px;
}

span {
  font-size: 13px;

}


h3 {
  margin: 0;
}

h3 {
  max-width: 50vw;
  font-weight: 100;
  font-size: 13px;
  margin-top: 50px;
}


a {
  text-decoration: none;
}

a:hover {
  color: grey;
}
